[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest-cov = "*"
flask = "*"
pymongo = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
