[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pymongo = "*"
python-dotenv = "*"
requests = "*"
pytest = "*"
pathlib = "*"
flask-login = "*"
click = "*"
pylint = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.9"
