<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Home</title>
</head>
<body>
    {% extends "base.html" %}

{% block content %}
<div class="screen">

    <header class="hero">
        <h1>{{ username }}’s Digital Diary</h1>
    </header>

    <main class="main-content">

        <section class="week-card">
            <div>
                <p class="week-label">Current Week</p>
                <h2 class="week-range">{{ current_week[0].month }} {{current_week[0].num}} – {{ current_week[-1].month }} {{ current_week[-1].num }}</h2>
            </div>
            <p class="streak">3 days streak</p>
        </section>

        <section class="calendar-strip">
            {% for day in current_week %}
                <div class="calendar-day {% if day.active %}active{% endif %}">
                    <span class="dow">{{ day.dow }}</span>
                    <span class="date-num">{{ day.num }}</span>
                </div>
            {% endfor %}
        </section>

        <section class="prompt-card">
            <h3>Why journal?</h3>
            <p>Journaling helps boost productivity through daily-small step goal setting</p>
            <a href="{{ url_for('pages.day', username=username) }}" class="prompt-link">Start now →</a>
        </section>

        <hr class="divider">

        <section class="plans-section">
            <h3 class="section-title">What are your plans for this week?</h3>

            <div class="goal-header">
                <span>Goals</span>
                <span>Time</span>
            </div>
            {% if entries %}

                {% for entry in entries %}
                    {% for task in entry.tasks %}
                        <div class="goal-row">
                            <form method="POST" action="{{ url_for('pages.delete_task_page', date=date, task_index=loop.index0) }}">
                                <input type="hidden" name="username" value="{{ username }}">
                                <button type="submit" class="goal-name">{{ task.title }}</button>
                            <!-- <span class="goal-name">{{ task.title }}</span> -->
                             </form>
                            {% if task.deadline %}
                               <span class="goal-time">{{ entry.date[5:10] }} {{ task.deadline }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}

            {% else %}
            <div class="goal-row empty-row">
                <span>No goals set yet.</span>
            </div>
             {% endif %}

        </section>

        <hr class="divider">

        <section class="entries-section">
            <h3 class="section-title">See your other entries</h3>

            <div class="entries-grid">
                {% if entries %}
                    {% for entry in entries %}
                        <a href="{{ url_for('pages.day', date=entry.date, username=username) }}" class="entry-box {% if loop.first %}selected{% endif %}">
                            <span class="entry-month">
                                {{ entry.date[5:7]|upper }}
                            </span>
                            <span class="entry-day">{{ entry.date[-2:] }}</span>
                            <p>
                            {% for journal in entry.journal_entries %}
                                <li>
                                    {{ journal.transcript[:15] }}...
                                </li>
                            {% endfor %}
                        </p>
                        </a>
                        
                    {% endfor %}
                {% else %}
                    <div class="entry-box">
                        <span class="entry-month">NO</span>
                        <span class="entry-day">DATA</span>
                    </div>
                {% endif %}
                <a href="#" class="entry-box load-more">
                    <span>Load more→</span>
                </a>
            </div>
        </section>
        <nav class="bottom-nav">
            <a href="{{ url_for('pages.home', username=username) }}" class="nav-item active">Home</a>
            <a href="{{ url_for('pages.day', username=username, date=date) }}" class="nav-item">Today</a>
            <a href="{{ url_for('pages.reflect', username=username, date=date, mode='prompt') }}"class="nav-item">History</a>
        </nav>
    </main>


</div>
{% endblock %}
</body>
</html>