{% extends "base.html" %}

{% block content %}

<div class="screen">

  <header class="hero">
    <h1>Sign Up</h1>
  </header>
  
  <form class="form" method="post">
    {% if error %}
      <div class="error-text">{{ error }}</div>
    {% endif %}
    <input class="field" name="email" type="email" placeholder="Email Address" required />
    <input class="field" name="username" placeholder="Username" required />
    <input class="field" name="password" type="password" placeholder="Password" required />

    <button class="btn">Create Account</button>
    <a href="{{ url_for('login') }}" class="btn-secondary">Back to Sign In</a>
  </form>
</div>
{% endblock %}